@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --color-dark: #18212F;
  --color-highlight: #CE2954;
  --color-teal: #26B8CD;
  --color-light-text: #A3ADB6;
  --color-properties: #FE6867;
  --color-users: #FC930C;
  --color-leases: #04DAE8;
}

@layer components {
  .input-container {
    @apply mb-4;
  }

  .input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2;

    &:focus {
      @apply border-highlight outline-none ring-2 ring-highlight/20;
    }

    &:disabled {
      @apply bg-gray-100 cursor-not-allowed;
    }
  }

  .input:focus {
    @apply border-highlight outline-none ring-2 ring-highlight/20;
  }

  .select {
    @apply appearance-none w-full border border-gray-300 rounded-lg text-sm bg-white px-4 py-2;
  
    &:focus ~ span {
      @apply rotate-180;
    }
  }

  .textarea {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2;
  }

  .radio {
    @apply border-gray-300 text-indigo-600 shadow-sm focus:ring-indigo-500;
  }

  .label {
    @apply block text-sm font-medium text-gray-950 p-0 mb-1 leading-none;
  }

  .error-field-message {
    @apply inline-block bg-red-200 text-red-500 text-xs mt-1 px-2 py-1 rounded-md;
  }

  .navigation-item {
    @apply flex items-center gap-x-4 my-2.5 text-light-text hover:text-indigo-600 transition;
  }

  .navigation-item-active {
    @apply text-indigo-600 font-medium;
  }

  .panel {
    @apply bg-white rounded-lg shadow p-6 hover:shadow-md;
  }

  .panel-title {
    @apply font-semibold text-gray-700 mb-4;
  }

  .data-table {
    @apply w-full border-separate border-spacing-y-2 text-sm text-left;

    th, td {
        @apply py-4 px-6 text-left;
    }

    &.small {
      th, td {
        @apply py-2 px-4;
      }
    }

    thead {
      th, td {
        @apply bg-white uppercase text-xs text-gray-600;

        &:first-child {
          @apply rounded-l-lg shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200),inset_1px_0_0_theme(colors.gray.200)];
        }

        &:last-child {
          @apply rounded-r-lg shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200),inset_-1px_0_0_theme(colors.gray.200)];
        }

        &:not(:first-child):not(:last-child) {
          @apply shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200)];
        }

      }
    }

    tbody {
      tr {
        @apply hover:bg-gray-50 transition;
      }

      td {
        @apply bg-white text-gray-600;

        &:first-child {
          @apply rounded-l-lg shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200),inset_1px_0_0_theme(colors.gray.200)];
        }

        &:last-child {
          @apply rounded-r-lg shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200),inset_-1px_0_0_theme(colors.gray.200)];
        }

        &:not(:first-child):not(:last-child) {
          @apply shadow-[inset_0_1px_0_theme(colors.gray.200),inset_0_-1px_0_theme(colors.gray.200)];
        }
      }
    }
  }

  .panel .data-table {
    
    thead {
      th, td {
        @apply !bg-gray-100 !shadow-none;
      }
    }

    tbody {
  

      td {
        @apply bg-none
      }
    }
  }

}