@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
  --color-dark: #18212F;
  --color-highlight: #CE2954;
  --color-teal: #26B8CD;
  --color-light-text: #A3ADB6;
}

@layer components {
  .input {
    @apply w-full rounded-lg border border-gray-300 px-4 py-2;
  }

  .input:focus {
    @apply border-highlight outline-none ring-2 ring-highlight/20;
  }

  .label {
    @apply block text-sm font-medium text-gray-950 p-0 m-0 leading-none
  }

  .navigation-item {
    @apply flex items-center gap-x-4 my-2.5 text-light-text hover:text-indigo-600 transition 
  }

  .navigation-item-active {
    @apply text-indigo-600 font-medium
  }

}